.content-stabilization-not-stable,
.content-stabilization-stable {
	margin-bottom: 5px;
	padding-left: 10px !important;
}

.content-stabilization-not-stable {
	border-left-color: #f28c00 !important;
}
.content-stabilization-stable {
	border-left-color: #94c11f !important;
	background-color: #eff6dd !important;
}

.content-stabilization-hidden {
	display: none !important;
}
